div {
display: block;
}


#ofcourse {
    padding:7.5px;
    z-index: 210;
}

.reveal section {
/*background: rgba(0,0,0,.3);
border-radius: 20px;*/
}

/*********************************************
 * TAGCLOUD
 *********************************************/
span.clouditem {
  padding-left: 0.15em;
  padding-right: 0.15em;
  line-height: 90%;
}



/* #f87458 */

/* http://web.mit.edu/wdmc/Public/gfd/synth/hadley.html#/controls */


.push {
height: 0.5em;
	}

.tail	{
	display: block;
	position: relative;
}

.trail {
	background: rgba(25,25,25,.75);
	color:#FFFFFF;
	padding: 0px 0px;
	z-index: 10;
	display: block;
	position: absolute;
	bottom: -1000px;
	left: 50px;
	right: 50px;
	border-radius:25px;

	-webkit-transition: bottom .5s;
	-moz-transition: bottom .5s;
	-ms-transition: bottom .5s;
	-o-transition: bottom .5s;
	transition: bottom .5s;
}
.tail:hover .trail {
	bottom: 10px;
}

/* http://web.mit.edu/wdmc/Public/gfd/synth/hadley.html#/controls */


.reveal .slides #numerical_lead {
	text-align: center;
	margin-bottom:-20px;
	letter-spacing: 40px;
	margin-left:34px;
	/*color: #eea950;*/
	color: #2FBBFF;
	font-family: 'Dosis', sans-serif; 
	font-weight: 200;
	font-size: 6em;
}


.reveal .slides #numerical_sub {
margin-bottom: 50px;
text-align: center;
font-size: 2.2em;
letter-spacing: 4px;
/*color: #b13e3e;*/
color: #53F293;
font-family: 'Dosis', sans-serif;
font-weight: 400;
}




.cloud body {
 background: #add9e4;
  background: -moz-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f7fbfc), color-stop(100%, #add9e4));
  background: -webkit-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background: -o-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background: -ms-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background: radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background-color: #f7fbfc;
}



/* http://jsfiddle.net/7uTTs/ */

#framewrap {
    padding:10px;
    background-color:#fff;
}
#frame {
    width:100%;
    height:100%;
    background-color:#fff;
}

/* http://jsfiddle.net/7uTTs/ */



/* http://jsfiddle.net/XtksX/2/ */

.reveal .slides .rotate {
    background: url(http://upload.wikimedia.org/wikipedia/commons/c/c5/Two_finger_rotate.png) no-repeat;
/*    position: absolute;*/
    width: 350px;
    height: 300px;
    margin: 0;
/*    margin-top: 40px;
    margin-left: 40px;
    left: -50px;
    top: -50px; */
    -webkit-animation: rotate 10s linear infinite;
    animation: rotate 10s linear infinite;
    -moz-animation: rotate 10s linear 0s infinite;
}

/*.reveal .slides .slider {
/*    position: relative;*/
/*    top: 320px;*/
/*    width: 200px;
/*    left: 50px;*/
/*}

/* http://jsfiddle.net/XtksX/2/ */



i {
	opacity:.8;
}

.dash {
	border:1px dashed gray;	
}

#defrag {
	position:relative;
	display:block;
	width:2px;
	height:10px;
	margin-left:-80px;
	background:rgba(0,0,0,.4);
	border:1px dashed aqua;
	opacity: .8;
	z-index:50;
}


.indicator {
	position: fixed;
    display: block; 
/*  border:1px dashed #eeeeee;*/
}

#spCB {
    padding:10px;
    z-index: 210;
}

#spCT {
    padding:5px;
    z-index: 210;
}

#spLC {
    padding:5px;
    z-index: 210;
}

#spRC {
    padding:5px;
    z-index: 210;
}


#eraser {
    z-index: 210;
}

#Dpad {
     z-index: 209;
}


#crosshair {
    padding:20px;
    z-index: 210;
}

#scopeoscope {
    padding:20px;
    z-index: 210;
}

#timevortex {
    padding:30px;
    padding-bottom:28px;
    z-index: 10;
}

#tardis {
    padding:58.5px;
    padding-bottom:57.5px;
    z-index: 10;
}



#ofcourse {
    padding:7.5px;
    z-index: 210;
}

#contextclue {
	padding:7.5px;
    z-index: 210;
}

#retarget {
    min-height:10px; 
    padding:7.5px;
    z-index: 220;
}

#desplash {
    min-height:10px; 
    padding:7.5px;
    z-index: 230;
}

#chatsoff {
	padding:5px;
    z-index: 210;
}

#anticyclone {
	padding:10px;
    z-index: 210;
}

#cyclone {
	padding:10px;
    z-index: 212;
}

#eyesight {
	padding:7.5px;
    z-index: 210;
}

#inspector {
	padding:7.5px;
    z-index: 210;
}




#defile {
    z-index: 210;
}

#offofflink {
    z-index: 211;
}



.indicated {
	position:fixed;
	display:block;
	opacity: 0.9;
	background:rgba(0,0,0,.3);
	color:aqua;
/*	border:1px dashed #eeeeee;*/
}

#gearable {
	min-width:40px;
	max-height:80%;
}

#slipstream {
	min-width:150px;
	min-height:10%;
	font-size: 12px;
	overflow:hidden;
	z-index:50;
}

#targetline {
	min-height:18px;
	font-size: 18px;
	z-index:50;
}

#splashline {
	min-height:15px;
	font-size: 14px;
	z-index:50;
}

.indicator {
	opacity:.3;
}

.indicator:hover {
	opacity:.8;
}

