.reveal .progress {
	height: 9px;
}

.reveal table th {
	text-shadow: rgb(255,255,255) 1px 1px 2px;
}

.reveal table td {
	padding: 0.1em 1em 0.1em 0;
}

.reveal section {
background: rgba(0,0,0,.3);
border-radius: 20px;
}



