.reveal .progress {
	height: 9px;
}

.black-hovercraft:hover{
  background:rgba(0,0,0,.5);
}
.white-hovercraft:hover{
  background:rgba(255,255,255,.5);
}

.blue-hovercraft:hover{
  background:rgba(19, 218, 236,1);
}

div#reveal-top-left {
  -webkit-transform: scale(.5,1);
  -moz-transform:    scale(.5,1);
  -ms-transform:     scale(.5,1);
  -o-transform:      scale(.5,1);
  transform:         scale(.5,1);
}


.tabs p {
  position: relative;
  display: inline-block;
  padding: 1em;
  margin: 2em;
}
 
.tabs p::before {
  content: ''; /* To generate the box */
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  background: skyblue;
  -webkit-transform: perspective(4px) rotateX(1deg);
}
 
.tabs p.tab::before {
  /* Tip by @krofdrakula */
  border-radius: 10px 10px 0 0;
}




#slipstream {
  max-width:150px;
  min-height:10%;
  font-size: 12px;
  overflow:hidden;
  z-index:50;
  background:rgba(0,0,0,.3);
}

/*#targetline {
  min-height:18px;
  font-size: 18px;
  z-index:50;
}*/








#fluidframe{
/*  min-height:15px;*/
  z-index:50;
  font-family: Helvetica;
  color: #fff;
padding: 4px 8px; 
border-radius:8px;
margin:auto;
 border: 1px solid #fff;
  text-decoration: none; 
  font-size: 12px;
   margin-right: 15px; 
   position: relative; 
top: -6px;
}

/*#titleBlock{
  transform:rotate(45deg);
}
*/

#circle-over {
}

.anchor {
  padding:15px;
  z-index: 210;
  position: absolute;
    display: block; 
    border-radius:150px;
  border:1px dashed #eeeeee;
}

#reveal-left-top {
}


#corotating {
  display: block; 
  position: absolute; 
  /*bottom: 24px; 
  left: 80px; */
  z-index: 20;
}

#inertial {
  display: block; 
 /* position: absolute;*/ 
/*  bottom: 24px; 
  left: 80px; */
  z-index: 20;
}

#labframe {
color: #fff;
font-family: Helvetica;
padding: 4px 8px; 
border-radius:8px;
 border: 0px solid #fff;
  text-decoration: none; 
  font-size: 12px;
   margin-right: 15px; 
   position: relative; 
top: -6px;
}


#circle-over {
    position:relative;
    border:1px dashed white;
    width:50px;
    height:50px;
    border-radius:100px;
}

#revealing {
    min-height:10px; 
    margin-top:0px;
    margin-right:5px;
    padding:32px;
    z-index: 230;
}

.indicator {
  position: fixed;
    display: block; 
  /*border:0px dashed #eeeeee;*/
}

.indicated {
/*  position:fixed;
  display:block;
  opacity: 0.9;
  background:rgba(0,0,0,.3);
  color:aqua;
  border:0px dashed #eeeeee;*/
}


#defrag {
  position:relative;
  display:block;
  width:2px;
  height:10px;
  margin-left:-80px;
  background:rgba(0,0,0,.4);
  border:1px dashed aqua;
  opacity: .8;
  z-index:50;
}


.reveal legend {
  margin: 0;
  padding: 0;
  border: solid #ffffff 0px;
}

.reveal fieldset {
  margin: 0;
  padding: 0;
  border: solid #ffffff 1px;
}


span.component {
  color:gray;
}





.reveal .slides section .fragment.highlight-pink, 
.reveal .slides section .fragment.highlight-current-pink,
.reveal .slides section .fragment.highlight-white, 
.reveal .slides section .fragment.highlight-current-white,
.reveal .slides section .fragment.highlight-black, 
.reveal .slides section .fragment.highlight-current-black,
.reveal .slides section  {
  opacity: 1;
  visibility: visible;
}

  .reveal .slides section .fragment.highlight-pink.visible {
    color: #ff5e99;
  }

  .reveal .slides section .fragment.highlight-orange.visible {
  color: rgba(255,94,71,1); /*#FF5E47*/
  }

  .reveal .slides section .fragment.highlight-white.visible {
    color: rgba(255,255,255,.8);
  }

  .reveal .slides section .fragment.highlight-black.visible {
    color: rgba(0,0,0,.8);
  }

  .reveal .slides section .fragment.highlight-current-pink.current-fragment {
    color: #ff5e99;
  }

  .reveal .slides section .fragment.highlight-current-orange.current-fragment {
  color: rgba(255,94,71,1); /*#FF5E47*/
  }

  .reveal .slides section .fragment.highlight-current-white.current-fragment {
    color: rgba(255,255,255,.8);
  }

  .reveal .slides section .fragment.highlight-current-black.current-fragment {
    color: rgba(0,0,0,.8);
  }



div #test {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: yellow;
}








/*
#targetline {
  min-height:18px;
  font-size: 18px;
  z-index:50;
}*/






















/* solid */

.reveal table th {
	text-shadow: rgb(255,255,255) 1px 1px 2px;
	font-size: 18pt;
}

.reveal table td {
	padding: 0.1em 1em 0.1em 0;
	font-size: 14pt;
}

img #patafizz::after {
  content:"1 day  |  6 - 60 seconds";
}

/*.reveal #horizonline:after{
  content:'aaaaaaa';
  position:absolute;
}*/

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 100%;
  max-height: 100%; }

.reveal section img {
  margin: 0px 0px;
  background: rgba(255, 255, 255, 0.0);
  border: 0px solid #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0); }

.reveal section img.aliasedWhite {
	background: rgba(255, 255, 255, 0.88);
}


.reveal section div.holds {
    position: relative;
}

.reveal section div.overlapped {
    position: absolute;
/*    left: 0px;
    top: 0px;
    z-index: 20;*/
}

.reveal section div.underlapper {
    position: absolute;
    bottom:  0px;
    right:0px;
/*    left: 0px;
    top: 0px;
    z-index: 20;*/
}

.reveal section div.overlapper {
    position: absolute;
    background: none;
/*    left: 0px;
    top: 0px;
    z-index: 21;*/
}

.reveal section div.overlappedR {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 20;
}

.reveal section div.overlapperR {
    position: absolute;
    background: none;
    right: 0px;
    top: 0px;
    z-index: 21;
}

.reveal section img.nobg {
    background: none;
}

.reveal section img.nods {
	box-shadow: 0 0 0px rgba(0, 0, 0, 0.0); }
}

.reveal section img.ontop {
	z-index:55;
}

.reveal section div.hoistright {
	position: absolute;
	right:0px;
	top:0px;
    background: none;
}

/*.betwixt div #slipstream {
	min-width:150px;
	min-height:10%;
	font-size: 12px;
	overflow:hidden;
	z-index:50;
}*/


#changeFraming {
  position:relative;
  width: 500px;  /* size of your big element */
  height: 1000px;
  margin-top:-75px;
  margin-left:250px;
}
#changeFraming .background {
  background: url(http://coriolis.no-ip.org/clearance/oldvrsn/pub/image/hadley_40-1200_1000w.gif);
  background-position: 0 0;
  width:  500px; /* width and height of the sprite image you want to display */
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
}


/*
.slipring {
	background-position: -500px 0px;
}*/


/* #container {
  position:relative;
  width: 80%;   
  height: 80%;
}
#container .background {
  background: url(http://coriolis.no-ip.org/clearance/oldvrsn/pub/image/hadley_40-1200_1000w.gif);
  background-position: 0px 0px;
  width:  500px;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
}
*/








































/* font-awesome fixes */
.reveal ul {  list-style-type: none; }

/*.reveal i.fa { font-family:FontAwesome; font-style: normal;
font-weight: normal;
line-height: 1; }*/

/*.reveal i.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

.reveal span.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.reveal .fa-p25x {
  font-size: 0.25em;
}

.reveal .fa-p33x {
  font-size: 0.33333333em;
}
.reveal .fa-p5x {
  font-size: 0.5em;
}
.reveal .fa-p66x {
  font-size: 0.66666666em;
}
.reveal .fa-p75x {
  font-size: 0.75em;
}

.reveal span.fa-2x {
  font-size: 2em;
}

.reveal span.fa-3x {
  font-size: 3em;
}
.reveal span.fa-4x {
  font-size: 4em;
}
.reveal span.fa-5x {
  font-size: 5em;
}

.reveal span.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.reveal span.fa-stack-1x,
.reveal span.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.reveal span.fa-stack-1x {
  line-height: inherit;
}
.reveal span.fa-stack-2x {
  font-size: 2em;
}

.fa-1rpm {
  -webkit-animation: spin 60s infinite linear;
  -moz-animation: spin 60s infinite linear;
  -o-animation: spin 60s infinite linear;
  animation: spin 60s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(-359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(-359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-359deg);
  }
}






.fa-rotating, .fa-10rpm {
  -webkit-animation: spin 6s infinite linear;
  -moz-animation: spin 6s infinite linear;
  -o-animation: spin 6s infinite linear;
  animation: spin 6s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(-359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(-359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-359deg);
  }
}


.fa-spin-out-1rpm {
  -webkit-animation: spinOut 60s infinite linear;
  -moz-animation: spinOut 60s infinite linear;
  -o-animation: spinOut 60s infinite linear;
  animation: spinOut 60s infinite linear;
}

.fa-spin-out-10rpm {
  -webkit-animation: spinOut 6s infinite linear;
  -moz-animation: spinOut 6s infinite linear;
  -o-animation: spinOut 6s infinite linear;
  animation: spinOut 6s infinite linear;
}
@-moz-keyframes spinOut {
  0% {
    -moz-transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(359deg);
  }
}
@-webkit-keyframes spinOut {
  0% {
    -webkit-transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(359deg);
  }
}
@-o-keyframes spinOut {
  0% {
    -o-transform: rotateY(0deg);
  }
  100% {
    -o-transform: rotateY(359deg);
  }
}
@-ms-keyframes spinOut {
  0% {
    -ms-transform: rotateY(0deg);
  }
  100% {
    -ms-transform: rotateY(359deg);
  }
}
@keyframes spinOut {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(359deg);
  }
}





.fa-vortical {
  -webkit-animation: vortical 30s infinite linear;
  -moz-animation: vortical 30s infinite linear;
  -o-animation: vortical 30s infinite linear;
  animation: vortical 30s infinite linear;
}
@-moz-keyframes vortical {
  0% {
    -moz-transform: scale(5,.1)   ;
  }
  50% {
    -moz-transform:  scale(.1,5);
  }
  100% {
    -moz-transform: scale(5,.1);
  }
}
@-webkit-keyframes vortical {
  0% {
    -webkit-transform: scale(5,.1) ;
  }
  50% {
    -webkit-transform: scale(.1,5);
  }
  100% {
    -webkit-transform: scale(5,.1);
  }
}
@-o-keyframes vortical {
  0% {
    -o-transform: scale(5,.1) ;
  }
  50% {
    -o-transform: scale(.1,5);
  }
  100% {
    -o-transform: scale(5,.1);
  }
}
@-ms-keyframes vortical {
  0% {
    -ms-transform: scale(5,.1) ;
  }
  50% {
    -ms-transform: scale(.1,5);
  }
  100% {
    -ms-transform: scale(5,.1);
  }
}
@keyframes vortical {
  0% {
    transform: scale(5,.1) ;
  }
  50% {
    transform: scale(.1,5);
  }
  100% {
    transform: scale(5,.1);
  }
}










/*.reveal span.fa-lg { 
font-size: 1.33333333em;
line-height: 0.75em;
vertical-align: -15%;
}*/




